.first-flex,
.second-flex {
  display: flex;
  flex-direction: row;
  height: 50px;
  gap: 10px;
  background-color: rgb(173, 216, 230);
    
}
.first-flex div {
  /* width: calc(800px/2); */
  width: 50%;
  background-color: rgb(128, 128, 128);
  margin: 10px;
}

.first-flex #firstA {
  margin-right: 5px;
}
.first-flex #firstB {
  margin-left: 5px;
}
.common {
  display: flex;
  flex-direction: row;
  height: auto;
  background-color: rgb(240, 182, 127);
  /* margin-left: 30px;
  margin-right: 30px; */
}
.common > div{
    background-color: rgb(255, 16, 83);
    width: 50%;
    margin: 10px;
}
#break{
    flex-basis: 100%;
    height: 0;
}
/* .fourth{
    flex-wrap: wrap;
    height: auto;
} */
/* .fourth div{
    height: 30px;
    width: 23.3974%;
} */
.fourth{

    display: flex;
    flex-direction: row;
    height: auto;
    background-color: rgb(240, 182, 127); 

}
#fourth5{
  flex-grow: 1;
    /* flex-basis: 100%;
    width: 100%; */
    /* flex-grow: 1; 
    height: 50px;
    background-color: rgb(255, 16, 83); */
    /* margin-top: -15px; */
    
}
.fourth .common div{
  width: 10vw;
}
.fourth5{
  background-color: rgb(255, 16, 83);
  flex-grow: 1;
  margin: 10px;
  height: 50px;

}
.inner{
  height: 50px;
}
/* .first-flex div:nth-child(2){
    pseudo selector works for the second child 
} */

/* .common{
    display: flex;
    flex-direction: row;
    background-color: rgb(173, 216, 230);
    height: 50px;
} */
